art==5.7
better-ffmpeg-progress==2.0.4
colorama==0.4.5
commonmark==0.9.1
cx-Freeze==6.11.1
easygui==0.98.3
ffmpeg-progress-yield==0.3.0
ffmpeg-python==0.2.0
ffpb==0.4.1
future==0.18.2
lief==0.12.1
Nuitka==1.0
ordered-set==4.1.0
packaging==21.3
pygame==2.1.2
Pygments==2.12.0
pyparsing==3.0.9
rich==12.5.1
tqdm==4.64.0
zstandard==0.18.0
